@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.about {
    /* height: 110vh; */
    /* background: url("/src/images/projects2.png"); */
}

.about__fadeBottom {
    /* background-image: linear-gradient(180deg, transparent, #bbc6ca); */
    height: 1rem;
    background-image: linear-gradient(180deg, transparent, rgba(231, 223, 223, 0.281), #d4dde2d0);
}

.about__heading {
    text-align: center;
    padding: 35px;
}

.about__heading {
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    color: rgb(66, 65, 65);
}

.about__content {
    display: flex;
    /* background-image: linear-gradient(#e2ebf0 , #cfd9df); */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
    /* box-shadow: 5px 5px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.2); */

    box-shadow: inset 4px 4px 6px rgba(191, 193, 194, 0.2) ,
                inset -4px -4px 10px rgba(0, 0, 0, 0.068),
                6px 6px 8px #d1d4d4,
                -1px -1px 7px rgba(97, 98, 102, 0.1);

    background: rgba(255, 255, 255, 0.11);
    /* border: 1px solid rgba(255,255,255,0.2); */
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(255, 255, 255, 0.3); */

    margin-left: 80px;
    margin-right: 80px;
    /* height: 80vh; */
    border-radius: 10px;
}

.about__contentLeft {
    /* background-color: burlywood; */
    flex: 0.6;
    /* text-align: left; */
    padding: 1rem 5rem 1rem 5rem;
    /* background: url("/src/images/projects3.png") center; */
}

/* .about__contentLeft > p {
    background-color: aliceblue;
    letter-spacing: 1px;
} */

.about__contentRight {
    /* border-radius: 100px; */
    /* background-color: antiquewhite; */
    /* background: url("/src/images/projects3.png") center; */
    flex: 0.4;
}

.about__contentRight > img {
    margin-top: 2rem;
    /* width: 280px; */
    height: 480px;

    /* width: 300px;
    height: 400px; */
    /* margin-right: 120px; */
    border-radius: 5px;
}

.word1 {
    font-family: 'Ephesis', cursive;
    /* font-family: 'Bonheur Royale', cursive; */
    font-size: 22px;
    color: rgb(94, 94, 94);
}

.word2 {
    padding-left: 25px;
    font-family: 'Ephesis', cursive;
    /* font-family: 'Bonheur Royale', cursive; */
    font-size: 22px;
    color: rgb(94, 94, 94);
}

.word3 {
    padding-left: 35px;
    font-family: 'Ephesis', cursive;
    /* font-family: 'Bonheur Royale', cursive; */
    font-size: 22px;
    color: rgb(94, 94, 94);
}

.text {
    padding-left: 50px;
    margin-top: 100px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    /* font-family: 'Vollkorn', serif; */
    font-family: 'Crimson Text', serif;
    font-size: 17px;
    /* font-family: 'Merriweather', serif; */
    font-weight: 500;
}


@media (max-width: 1200px) {
    .about__content{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
    .about__contentLeft {
        padding-bottom: 0rem;
    }
    .about__contentRight > img {
        margin-top: 2rem;
        margin-left: 200px;
    }
}

@media (max-width: 767px) {
    .about {
        padding-left: 5px;
        padding-right: 5px;
    }
    .word1 {
        display: none;
    }
    .word2 {
        display: none;
    }
    .word3 {
        display: none;
    }
    .text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about__contentRight {
        display: flex;
        justify-content: center;
    }

    .about__contentRight > img {
        margin-top: -5rem;
        width: 250px;
        height: 350px;
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 5px;
    }

    .about__contentLeft {
        padding: 0rem 1rem 2rem 1rem;
    }
}