@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.banner {
    /* height: 100vh; */
    /* background-color: rgb(143, 182, 216); */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* background-image: linear-gradient(#09203f , #537895); */
    /* background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center; */
    /* background-color: #9fa3aa; */

    /* background: url("/src/images/projects2.png"); */

}

.banner__left {
    /* width: 50%; */
    /* top right bottom left */
    /* padding: 3rem 5rem 5rem 12rem; */
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */

}

/* .banner__left > h3 {
    margin-bottom: 2rem;
    font-family: 'Cinzel', serif;
    color: rgba(65, 65, 65);
    letter-spacing: 2px;
}

.banner__left > h2 {
    margin-bottom: 2rem;
    font-size: 70px;
    font-family: 'PT Serif', serif;
}

.banner__left > p {
    margin-bottom: 2rem;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
} */

.banner__left {
    padding: 5rem 5rem 5rem 12rem;
}

.banner__h3 {
    margin-bottom: 1rem;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #424242;
}

.banner__h2Top {
    font-size: 70px;
    font-family: 'PT Serif', serif;
}

.banner__h2Bottom {
    margin-bottom: 0.5rem;
    font-size: 70px;
    font-family: 'PT Serif', serif;
    color: rgb(20, 20, 20);
}

.banner__p {
    margin-bottom: 4rem;
    margin-top: 2.1rem;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    /* color: #424242; */
}

.banner__btn {
    padding: 15px;
    width: 20%;
    font-weight: 500;
    border: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: black;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #cfd9dfc2 50%, black 50%) right;
    background-size: 220%;
    transition: .5s ease-out;
    
}

.banner__btn:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    background-position: left;
}

/* @media (max-width: 767px) {
    .banner__left > h2 {
        font-size: 50px;
    }
} */

@media (max-width: 1200px) {
    .banner__left {
        padding: 5rem 1rem 5rem 8rem;
    }
    .banner__left > h2 {
        font-size: 65px;
    }
    .banner__btn {
        width: 35%;
    }
}

@media (max-width: 767px) {
    .banner__left {
        padding: 5rem 1rem 5rem 1rem;
        text-align: center;
    }
    .banner__left > h2 {
        font-size: 40px;
    }
    .banner__left > p {
        font-size: 19px;
    }
    .banner__btn {
        width: 50%;
    }
}