@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

.footer {
    /* height: 80vh; */
    padding-top: 15rem;
    padding-bottom: 6rem;
    padding-left: 80px;
    padding-right: 80px;
    /* background-color: rgb(168, 196, 221); */
    /* background-color: gray; */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* font-family: 'Cinzel', serif; */
}

.newFooter__heading {
    /* background-color: aliceblue; */
    /* padding-top: 1rem; */
    width: 100%;
    text-align: center;
}

.newFooter__heading > h1 {
    width: 100%; 
    padding-top: 5px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid black; 
    line-height: 0.1em;
    letter-spacing: 2px;
    margin: 10px 3px 20px;
    font-family: 'Cinzel', serif;
    /* font-weight: 800; */
}

.newFooter__heading > h1 > span {
    /* background: transparent;  */
    /* background: rgb(168, 196, 221); */
    /* background: #dce8ee; */
    background: #dee8ee;
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    color: black;
    font-weight: 600;
    padding:0 88px; 
    font-family: 'Cinzel', serif;
}

.newFooter__heading > p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
}

.newFooter__content {
    /* background-color: aliceblue; */
    display: flex;
    height: 73vh;
}

.newFooter__contentLeft {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: aqua; */
    flex: 0.3;
    padding-top: 4rem;
    text-align: center;
}

.newFooter__contentLeftLink {
    margin-left: 5rem;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
}

.newFooter__contentLeftDiv {
    height: 6vh;
    border-right: 1px solid black;
    /* background-color: white; */
    text-align: center;
    display: flex;
    justify-content: center;

    /* width: 10px; */
    /* margin: 5px 0rem 5px 22.8rem; */
}

.newFooter__contentLeftDivLine {
    height: 5vh;
    /* background-color: #cfd9df; */
    width: 10px;
}

/* .newFooter__contentLeft > p:hover {
    color: blue;
} */

.newFooter__contentLeftLink:after {
    display:block;
    content: '';
    border-bottom: solid 1px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.newFooter__contentLeftLink:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
    
}

.newFooter__contentRight {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    flex: 0.3;
    padding-top: 4rem;
    text-align: center;
}

.newFooter__contentRightLink {
    margin-right: 5rem;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
}

@-moz-document url-prefix() {
    .newFooter__contentRightLink {
        margin-left: -12rem;
    }
}

.newFooter__contentRightDiv {
    height: 6vh;
    border-right: 1px solid black;
    width: 10px;
    margin: 5px 0rem 5px 2.5rem;
}

.newFooter__contentRightLink:after {
    display:block;
    content: '';
    border-bottom: solid 1px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.newFooter__contentRightLink:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

/* .newFooter__contentRight > h6 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: aliceblue;
    width: 36%;
} */

.newFooter__contentMiddle {
    /* background-color: antiquewhite; */
    flex: 0.4;
}

.newFooter__contentIcons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* margin-left: 3.5rem; */
    margin-top: 6rem;
    margin-bottom: 6rem;
    /* background-color: white; */
}

.newFooter__contentIcon {
    padding: 6px;
    border-radius: 99px;
    /* border: 1px solid rgba(211, 211, 211, 0.562); */
    /* background-color: rgb(0, 0, 0); */
    /* color: white; */
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 12px 12px 24px 0 rgba(33, 35, 36, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.3);


    background-image: linear-gradient(#cfd9df , #e2ebf0);
    transform: scale(1.1);
    transition: 0.5s ease-out; 
    cursor: pointer;
}

/* #cfd9df #e2ebf0 */

.newFooter__contentIcon:hover {
     /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.6); */
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.3),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5); */
    /* background-color: black; */
    /* color: white; */
    transition: all 0.5s; 
    /* transform: scale(1.4); */

    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.newFooter__contentMiddleDiv {
    height: 8vh;
    border-right: 1px solid black;
    width: 32px;
    margin: 35px 0rem 35px 16rem;
}

.newFooter__middleBottom {
    /* background-color: azure; */
    height: 40vh;
}

.newFooter__contactForm {
    text-align: center ;
    /* background-color: pink; */
}

.newFooter__contactBtn {
    text-align: center;
    padding-top: 10px;
}

.newFooter__contactBtn > p {
    margin-bottom: 2rem;
    /* margin-top: 0.5rem; */
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
}

.newFooter__contactBtn > button {
    width: 50%;
    padding: 15px;
    border: 1px solid black;
    /* border-left: none; */
    display: inline-block;
    text-align: center;
    color: black;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, transparent 50%, black 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.newFooter__contactBtn > button:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    background-position: left;
}


.newFooter__contactForm > form {
    /* background-color: burlywood; */
    /* margin-left: 25px;
    margin-right: 25px; */
}


.form__div {
    text-align: center;
    /* background-color: #cfd9df; */
    margin-left: 80px;
    margin-right: 80px;
}

/* .form__divLeft {
    margin-right: 3rem;
} */

.form__div > input {
    padding: 15px;
    width: 90%;
    outline-width: 0;
    outline-style: none;
    border: none;
    background-color: transparent;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}


.form__div > textarea {
    max-width: 90%;
    min-width: 90%;
    width: 90%;
    height: 8vh;
    max-height: 10vh;
    padding: 15px;
    outline-width: 0;
    outline-style: none;
    border: none;
    background-color: transparent;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

::placeholder {
    color: black;
    font-weight: 600;
}

.form__btn {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    margin-top: -2px;
    background-color: transparent;
    transition: all 0.5s;
}

.form__btn:hover {
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    background-color: black;
}

.backBtn {
    border: none;
    /* margin-bottom: 10px; */
    cursor: pointer;
    background-color: transparent;
}

.copyright1 {
    margin-top: 25px;
    font-weight: 600;
}

.copyright2 {
    margin-top: 144px;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .newFooter__heading {
        width: 100%;
        /* margin-left: 4rem; */
        text-align: center;
    }
    .newFooter__contentLeftLink {
        margin-left: -2rem;
    }
    .newFooter__contentRightLink {
        /* background-color: #cfd9df; */
        margin-right: 0rem;
        margin-left: 4rem;
    }
    .newFooter__contentMiddleDiv {
        margin-left: 8rem;
    }
    .newFooter__contactBtn > button {
        width: 65%;
    }
    .newFooter__contentIcons {
        /* margin-left: 2rem; */
    }
    .form__btn {
        margin-left: 0px;
        width: 113.5%; 
    }
    .form__div {
        margin-left: 0px;
        margin-right: 0px;
    }
    .form__div > input {
        width: 100%;
    }
    .form__div > textarea {
        max-width: 100%;
        min-width: 100%;
    }
    
}

@media (max-width: 767px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .newFooter__heading {
        /* margin-left: 1rem; */
    }
    .newFooter__heading > h1 {
        width: 100%; 
        font-size: 20px;
        border-bottom: none; 
        line-height: 1em;
    }
    .newFooter__heading > h1 > span {
        background: none;
        color: black;
        padding: 0px; 
        font-family: 'Cinzel', serif;
    }
    .newFooter__contentLeft {
        display: none;
    }
    .newFooter__contentRight {
        display: none;
    }
    .newFooter__contentIcons {
        display: flex;
        /* justify-content: center; */
        width: 100%;
        margin-left: 6rem;
        margin-top: 3rem;
        /* background-color: white; */
    }
    .newFooter__contentMiddleDiv {
        /* margin-left: 11rem; */
    }
    .newFooter__contactBtn > p {
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
    .newFooter__contactBtn {
        width: 180%;
        /* background-color: #cfd9df; */
    }
    .newFooter__contactBtn > button {
        width: 70%;
        margin-left: 2rem;
    }
    .newFooter__contactForm {
        /* background-color: white; */
        width: 178%;
    }
    .newFooter__contactForm > form {
        /* background-color: burlywood; */
        margin-left: 20px;
        margin-right: 20px;
    }
    .form__btn {
        width: 110%
    }
    .copyright1 {
        margin-left: 50px;
    }
    .copyright2 {
        margin-left: 50px;
    }
}

@media (max-width: 400px) {
    .newFooter__heading > h1 {
        width: 100%; 
        font-size: 20px;
        border-bottom: none; 
        line-height: 0em;
    }
    .newFooter__contactForm {
        /* background-color: white; */
        width: 165%;
    }
    .newFooter__contactForm > form {
        /* background-color: burlywood; */
        margin-left: 25px;
        margin-right: 15px;
    }
    .form__btn {
        width: 111.3%
    }

    .newFooter__contentIcons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 5rem;
        margin-top: 3rem;
        /* background-color: white; */
    }
    .newFooter__contentMiddleDiv {
        margin-left: 10.4rem;
    }
    .newFooter__contactBtn > p {
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
    .newFooter__contactBtn {
        width: 175%;
        /* background-color: #cfd9df; */
    }
    .newFooter__contactBtn > button {
        width: 70%;
        margin-left: 2rem;
    }
    .copyright1 {
        /* margin-left: 60px; */
    }
    .copyright2 {
        /* margin-left: 25px; */
    }
}

