.header {
    display: flex;   
    height: 55px;
    color: black;
    /* border-bottom: 1px solid gray; */
    position: sticky;
    top: 0;
    z-index: 100;
    /* background-color: whitesmoke; */
    justify-content: space-between;
    padding-bottom: 5px;
    /* background-color: rgb(143, 182, 216); */
    /* background-image: linear-gradient(#e2ebf0 , #cfd9df0a); */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* background-color: #cfd9df; */

    /* background: url("/src/images/projects.png"); */
}

.logo {
    height: 60px;
    width: 60px;
}

.header__left{
    /* padding-top: 0px; */
    margin-left: 5rem;
    /* background-color: #666; */
}

.header__left > img {
    cursor: pointer;
}

.header__left > h3 {
    /* padding-left: 5rem; */
    color: black;
    cursor: pointer;
}

.header__right {
    flex: 0.6;
    justify-content: space-between;
    display: flex;
    /* background-color: white; */
    background-color: transparent;
    background-image: linear-gradient(#cfd9df , #e2ebf0);
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.4); */
    /* padding-top: 10px; */
    margin: 5px 5rem 5px 0px;
    /* text-transform: uppercase; */
    border-radius: 100px;
}

.header__rightLeft {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    /* background-color: blue; */
}

.link > p {
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px; */
    padding: 15px 45px 15px 45px;
    /* margin-right: 20px; */
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.5px;
    /* background-color: pink; */
    border-radius: 100px;
}

.link > p:hover {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    /* background-image: linear-gradient(#e2ebf0 , #cfd9df); */
}

.active {
    /* background-color: green; */
    /* padding-left: 20px;
    padding-right: 20px; */
    border-radius: 99px;
    /* background-image: linear-gradient(#e2ebf0 , #cfd9df); */
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.4); */
    /* transition: 0.5s ease-in-out; */
    /* margin-top: 2px;
    margin-bottom: 2px; */
}

.unactive {
    /* background-color: red; */
    /* border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px; */
    /* margin-top: 2px;
    margin-bottom: 2px; */
}

/* .header__right > p:hover {
    border-bottom: 1px solid black;
    color: rgba(0, 0, 0, 0.61);
    transition: 0.5s;
} */

.header__menu {
    margin-right: 5rem;
    /* background-color: #FF605C; */
}

.header__menuIcon {
    background-color: transparent;
    background-image: linear-gradient(#cfd9df , #e2ebf0);
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.3);
    /* color: #666; */
    color: black;
    margin-top: 5px;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px;
}

.header__closeIcon {
    /* margin-right: -7rem; */
    /* margin-left: 100px; */
    /* margin-top: -10px; */
    /* background-color: transparent; */
    background-image: linear-gradient(#e2ebf0 , #cfd9df);
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.6);
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.4); */
    /* background-color: rgb(143, 182, 216); */
    /* color: #FF605C; */
    color: black;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 1200px) {
    .header__right {
        height: 220px;
        /* width: 100px; */
        border-radius: 10px;
    }
    .header__rightLeft {
        display: block;
    }
    .header__closeIcon {
        background-image: none;
        box-shadow: none;
    }
    .link > p {
        padding: 15px 45px 15px 45px;
        text-align: center;
        border-radius: 100px;
    }
}

@media (max-width: 767px) {
    .header__right {
        margin-top: 5rem;
        height: 230px;
        margin-left: -4.5rem;
        border-radius: 0px;
        border-radius: 5px;
    }

    .link > p {
        padding: 15px 85px 15px 85px;
        text-align: center;
        border-radius: 100px;
    }
}

@media (max-width: 400px) {
    .header__right {
        margin-top: 5rem;
        height: 230px;
        margin-left: -5.5rem;
        border-radius: 0px;
        border-radius: 5px;
    }
    
    .link > p {
        padding: 15px 80px 15px 80px;
        text-align: center;
        border-radius: 100px;
    }
}





