@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

.projectsPageFooter {
    height: 35vh;
    /* background-color: aliceblue; */
    padding-bottom: 50px;
}

.projectsFooterIcons {
    text-align: center;
    padding-top: 20px;
}

.projectsFooterIcon {
    margin: 25px;
    margin-bottom: 15px;
    /* background-color: gray; */
    border-radius: 100px;
    padding: 6px;
    box-shadow: 12px 12px 24px 0 rgba(33, 35, 36, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.3);
    /* box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1); */

    background-image: linear-gradient(#cfd9df , #e2ebf0);
    /* transform: scale(1.1); */
    transition: 0.5s ease-out; 
    cursor: pointer;
}

.projectsFooterIcon:hover {
    transition: all 0.5s; 

    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.projectsPageLine {
    border-right: 1px solid black;
    width: 10px;
    height: 50px;
    /* background-color: black; */
    margin-left: 710px;
    
}

.projectsFooterText {
    text-align: center;
    /* background-color: blue; */
    margin-top: 25px;
}

.projectsFooterText > h6 {
    font-weight: 500;
    /* color: gray; */
    margin-top: 25px;
}

.projectsFooterText > h5 {
    font-weight: 600;
    font-family: 'Cinzel', serif;
    color: rgba(65, 65, 65);
    padding-bottom: 10px;
    font-size: 11px;
    letter-spacing: 2px;
    /* color: gray; */
}

@media (max-width: 1200px) {
    .projectsPageLine{
        display: none;
    }
}