.projectsPageHeader {
    height: 16vh;
    /* background-color: rgba(94, 95, 95, 0.151); */
    /* background-image: linear-gradient(#d3dadf52 , #e2ebf083); */
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}

/* .projectsPageHeader > h1 {
    margin-top: 50px;
    cursor: pointer;
} */

.projectPageLogo {
    /* background-color: aliceblue; */
    margin-left: 65px;
    margin-top: 25px;
    height: 85px;
    width: 85px;
    cursor: pointer;
}

.projectPageLeftImg {
    /* background-color: antiquewhite; */
    margin-left: 150px;
    height: 215px;
    width: 232px;
}

.projectPageRightImg {
    /* background-color: aqua; */
    margin-right: 70px;
    height: 200px;
    width: 380px;
}

@media (max-width: 1200px) {
    .projectPageLeftImg {
        display: none;
    }
    .projectPageRightImg{
        display: none;
    }
    .projectsPageHeader{
        display: flex;
        height: 11vh;
        justify-content: center;
    }
    .projectPageLogo {
        margin-left: 35px;
    }
}

@media (max-width: 767px) {
    .projectPageLogo {
        margin-left: 15px;
    }
}

@media (max-width: 400px) {
    
}