@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.project {
    /* background: url("/src/images/projects2.png"); */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    padding-left: 100px;
    padding-right: 100px;
}

.projectCards {
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.3),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.4); */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */

    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding-top: 100px;
    border-radius: 5px;
    /* margin: 20px 80px 0px 80px; */
    /* background: url("/src/images/projects2.png"); */

    /* background: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.2);
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
}


.project__heading > h1 {
    /* margin-left: 216px; */
    /* text-transform: uppercase; */
    /* letter-spacing: 2px;
    font-size: 28px;
    font-weight: 600; */
}

.project__headingLine {
    /* background-color: aqua; */
    border-right: 1px solid black;
    height: 65px;
    /* width: 10px; */
    margin-left: 542px;
    margin-right: 720px;
    margin-bottom: 25px;
    margin-top: 10px;
    
}

.project__heading {
    /* height: 20vh; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    /* justify-content: flex-start; */
    /* background-color: lightsteelblue; */
    /* margin-left: 216px;
    margin-right: 216px; */
    /* padding-top: 35px; */
    padding-bottom: 50px;
    margin-top: 100px;
    /* margin: 0px 80px 0px 80px; */
    /* background: url("/src/images/projects2.png"); */
    width: 100%;
    /* margin-left: 11rem; */
    text-align: center;
}

.project__heading > h1 {
    width: 100%; 
    padding-top: 5px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid black; 
    line-height: 0.1em;
    letter-spacing: 2px;
    margin: 10px 3px 20px;
}

.project__heading > h1 > span {
    /* background: transparent;  */
    /* background: rgb(168, 196, 221); */
    /* background: #dce8ee; */
    background: #cfd9df;
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    color: black;
    font-family: 'PT Serif', serif;
    font-weight: 600;
    padding:0 88px; 
}

@media (max-width: 1200px) {  
    .project {
        padding-left: 10px;
        padding-right: 10px;
    }
    .project__headingLine {
        display: none;
    }
    .project__heading {
        text-align: center;
        padding-bottom: 50px;
        /* width: 100%; */
        /* margin-left: 6.5rem; */
        text-align: center;
    }
    .project__heading > h1 {
        border-bottom: none; 
        line-height: 0em;
        margin: 50px 10px 20px;
    }
    .projectCards {
        margin: 20px 10px 0px 10px;
    }
}

@media (max-width: 767px) {
    .project__heading {
        text-align: center;
        /* background-color: lightsteelblue; */
        padding-bottom: 50px;
        width: 95%;
        margin-left: 0.5rem;
        text-align: center;
    }
    
    .project__heading > h1 {
        width: 100%; 
        border-bottom: none; 
        line-height: 1em;
        margin: 35px 3px 20px;
    }
    
    .project__heading > h1 > span {
        background: none;
        padding: 0px; 
    }
}

@media (max-width: 400px) {
    .project {
        padding-left: 2px;
        padding-right: 2px;
    }
}