@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Marck+Script&family=Roboto:wght@100&display=swap');

.skills {
    /* height: 235vh; */
    /* background: url("../images/img3.png") center no-repeat; */
    /* background: url("../images/bg9.png") center no-repeat; */
    /* opacity: 0.9; */
    /* background-image: linear-gradient(to right, #e500fa2a, #4e81a5b6); */
    /* background-color: rgb(143, 182, 216); */
    /* background-color: aliceblue; */
    object-fit: contain;

    /* background: url("/src/images/projects2.png"); */
    padding-bottom: 80px;
    padding-top: 100px;
}


.skills__heading {
    text-align: center;
    padding: 35px;
    padding-bottom: 0px;
    /* background-color: antiquewhite; */
    color: black;
}

.skills__heading > h1 {
    /* font-size: 30px; */
    font-family: 'PT Serif', serif;
    /* font-family: 'Marck Script', cursive; */
    letter-spacing: 1px;
    color: rgb(66, 65, 65);
}

.skills__card {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* margin-top: 1rem; */
    /* border-radius: 10px; */
    margin-left: 80px;
    margin-right: 80px;
    /* height: 80vh;    */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.2); */
    /* border: 1px solid #cfd9df; */

    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); */
}

@media (max-width: 1200px) {
    .skills {
        /* height: 150vh; */
    }
    .skills__card {
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media (max-width: 767px) {
    .skills {
        /* height: 290vh; */
    }
}

@media (max-width: 400px) {
    .skills {
        /* height: 335vh; */
    }
}
