@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.testimonial {
    /* padding-top: 5rem; */
    /* padding-bottom: 3rem; */
    margin-top: 7rem;
    margin-left: 80px;
    margin-right: 80px;
    background: url("/src/images/projects2.png") center;
    border-radius: 10px;
    text-align: center;

    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
    /* box-shadow: 5px 5px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.2); */

    box-shadow: inset 4px 4px 6px rgba(255,255,255,0.2) ,
    inset -4px -4px 10px rgba(0,0,0,0.1),
    6px 6px 8px #b5c2c283,
    -1px -1px 7px rgba(173, 176, 180, 0.582);

    /* box-shadow: inset 4px 4px 6px rgba(191, 193, 194, 0.2) ,
    inset -4px -4px 10px rgba(0, 0, 0, 0.068),
    6px 6px 8px #d1d4d4,
    -1px -1px 7px rgba(97, 98, 102, 0.1); */

    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
}

.testimonial__content {
    /* background-color: #cfd9df; */
    padding-top: 5rem;
    padding-bottom: 3rem;
    /* background: rgba(255, 255, 255, 0.21); */
    border-radius: 10px;
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.testimonial__heading {
    margin-bottom: 3rem;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: rgb(65, 65, 65);
}

.testimonial__text {
    margin: 0px 15rem 0px 15rem;
    padding: 20px 0px 20px 0px;

    /* background: rgba(255, 255, 255, 0.21);
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */

    border-radius: 10px;

    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
    /* box-shadow: 5px 5px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.2); */

    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
}

.alice-carousel {
    /* background-color: aqua; */
    /* background: url("/src/images/projects2.png") center; */
    /* background: rgba(255, 255, 255, 0.21); */
    /* border: 1px solid rgba(255,255,255,0.2); */
    /* z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px; */
}

.text1 {
    padding: 20px 20px 0px 20px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 21px;
}

div.text1 {
    line-height: 1.8;
}

.text1 > .text1__span {
    /* float: left; */
    font-family: 'PT Serif', serif;
    color: rgb(65, 65, 65);
    font-size: 15px;
}

/* .alice-carousel > .alice-carousel__dots {
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 100px;
} */

.alice-carousel > .alice-carousel__dots > .alice-carousel__dots-item:not(.__custom).__active {
    background-color: black;
}

.alice-carousel > .alice-carousel__dots > .alice-carousel__dots-item:not(.__custom) {
    background-color: rgba(0, 0, 0, 0.534);
}

@media (max-width: 1200px) {
    .testimonial {
        margin-left: 10px;
        margin-right: 10px;
    }

    .testimonial__text {
        margin: 0px 0rem 0px 0rem;
    }
    .text1 {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .testimonial {
        background: url("/src/images/projects2.png");
    }
    .text1 {
        font-size: 15px;
    }
}