@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.work {
    /* height: 100vh; */
    padding-top: 2rem;
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    background: url("/src/images/projects2.png");
}

.work__fadeBottom {
    height: 2rem;
    background-image: linear-gradient(180deg, transparent, rgba(230, 232, 235, 0.26), #e2ebf0b6);
    /* background-image: linear-gradient(180deg, transparent, #e1e6e9); */
}

/* .work__fadeTop {
    height: 1rem;
    background-image: linear-gradient(180deg, transparent, rgba(73, 95, 129, 0.26), #4198c74d);
} */

.work__heading {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    /* border-radius: 10px; */
    /* border-top-left-radius: 10x;
    border-top-right-radius: 10x;

    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px; */
    padding: 35px;
    /* background: rgba(255, 255, 255, 0.205); */
    /* border: 1px solid rgba(255,255,255,0.2); */
    /* z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
}

.work__heading > h1 {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    color: rgb(66, 65, 65);
}

.workmain__container {
    margin-left: 80px;
    /* height: 100vh; */
    padding-bottom: 60px;
    margin-right: 80px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.21);
    /* border: 1px solid rgba(255,255,255,0.2); */
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.work__containerProjects {
    margin-top: 60px;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: space-evenly;
}

.work__container {
    display: flex;
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* margin-top: 20px; */
    /* height: 60vh; */
    /* margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px; */

    /* border-bottom-left-radius: 10x;
    border-bottom-right-radius: 10x;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px; */

    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.2); */

    /* background: rgba(255, 255, 255, 0.21); */
    /* border: 1px solid rgba(255,255,255,0.2); */
    /* z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */

    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); */
}

.work__containerLeft {
    flex: 0.4;
    /* background-color: whitesmoke; */
    /* background: linear-gradient(rgba(155, 132, 132, 0.5),rgba(163, 145, 145, 0.5)), url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80") center no-repeat; */
}

.work__containerLeft > img {
    height: 380px;
    width: 520px;
    /* opacity: 0.7; */
    border-radius: 10px;
}

.work__containerLeft > img:hover {
    opacity: 1;
}

.work__containerRight {
    flex: 0.6;
    text-align: center;
    padding-top: 50px;
}

.work__containerRight > p {
    /* background-color: white; */
    margin: 10px 100px 50px 100px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.work__btn {
    text-align: center;
    margin-top: 80px;
}

.exploreBtn {
    padding: 15px;
    width: 25%;
    border: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: black;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, transparent 50%, black 50%) right;
    background-size: 220%;
    transition: .5s ease-out;
}


.exploreBtn:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    background-position: left;
}

.workImage {
    /* height: 200px;
    width: 220px; */
    height: 180px;
    width: 250px;
}

@media (max-width: 1200px) {
    .work__containerProjects {
        flex-direction: column;
        margin-top: 20px;
    }
    .workmain__container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .work__container {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .exploreBtn {
        width: 35%;
    }
    .work__containerLeft {
        display: flex;
        justify-content: center;
    }
    .workImage {
        display: none;
    }
    .work {
        /* height: 80vh; */
    }

}

@media (max-width: 767px) {
    .exploreBtn {
        width: 80%;
    }
    .work__containerLeft > img {
        height: 250px;
        width: 350px;
    }
    .work__container {
        margin-top: 20px;
    }
    .work__containerRight > p {
        margin: 20px 35px 50px 35px;
        font-size: 20px;
    }
    .work__containerRight > button {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .work {
        /* height: 120vh; */
    }
}
 







/* .work__slider {
    width: 90%;
    background-color: antiquewhite;
    padding: 50px;
}

.slick-slider > .slick-arrow {
    background-color: black;
    border-radius: 99px;
    height: 35px;
    width: 35px;
}

.slick-slider > .slick-arrow:hover {
    background-color: black;
}

.slick-slider > .slick-next {
    right: 0px;
}

.slick-slider > .slick-prev {
    left: 0px;
} */