.app {
    /* background-color: #9fa3aa; */
    /* background-color: rgb(143, 182, 216); */
    background-image: linear-gradient(#cfd9df , #e2ebf0);
    /* background: url("/src/images/projects2.png"); */
    /* background-color: #e2ebf0; */
    /* background-color: #0a192f; */
    /* background-color: #233554; */
    /* background-color: #112240; */
}

.appBannerAbout {
    background: url("/src/images/projects2.png");
}