.card {
    /* height: 65vh;
    border-radius: 10px; */
    /* width: 28%; */
    /* margin-left: 50px; */
    /* margin-top: 35px;
    margin-right: -150px; */

    /* neumorphic design */

    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.4); */
}


.card__title {
    /* text-align: center;
    margin-top: 1rem; */
}

.card__heading {
    /* text-align: center; */
}

.card__headingText {
    /* margin-top: 20px; */
}

.card__headingLine {
    /* height: 10px;
    border-top: 1px solid black;
    margin-left: 5rem;
    margin-top: -12px;
    width: 50%; */
}

.card__details {
    /* background-color: aliceblue; */
    margin-top: 35px;
    /* color: black; */
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* text-align: center; */
    /* text-align: left; */
    margin-left: 50px;
    margin-right: 50px;
}

.card__details > h3 {
    margin-bottom: 35px;
    /* background-color: aliceblue; */
    color: black;
}