@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.projectCard__content {
    display: flex;
    /* background-color: rgb(143, 182, 216) */
    /* background-color: aquamarine; */
}

.projectCard__image {
    height: 350px;
    width: 550px;
    border-radius: 5px;
    /* background-color: rgb(97, 140, 179); */
    background-image: linear-gradient(#cfd9df , #e2ebf0);
    /* background-image: linear-gradient( #868f96 ,#596164 ); */
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.3),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.projectCard__image > img {
    height: 350px;
    width: 550px;
}

.cardLeft {
    /* height: 65vh; */
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    /* background-color: aqua; */
    /* background-color: rgb(143, 182, 216); */
    /* padding-top: 50px; */
}

.cardLeftDetail {
    /* background-color: lightblue; */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* background-image: linear-gradient( #868f96 ,#596164 ); */
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.3);
    margin-left: -100px;
    padding: 20px;
    border-radius: 5px;
    width: 500px;

    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.2);
    z-index: 4;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.cardLeftDetail > p {
    /* white-space: pre-line; */
    font-size: 17px;
    font-family: 'Crimson Text', serif;
    /* letter-spacing: 1px; */
}

/* .cardLeft__details {
    text-align: right;
} */

.cardLeftHeading {
    /* background-color: blue; */
    padding-bottom: 32px;
    padding-top: 20px;
    text-align: right;
}

.cardLeftHeading > p {
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Crimson Text', serif;
    color: rgb(65, 65, 65);
}

.cardLeftHeading > h3 {
    font-family: 'PT Serif', serif;
    font-size: 22px;
}

.cardLeftLang {
    display: flex;
    /* background-color: white; */
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cardLeftLang > p {
    padding-left: 25px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(65, 65, 65);
}

.cardLeftLogo {
    display: flex;
    /* background-color: pink; */
    justify-content: flex-end;
    padding-bottom: 20px;
}

.cardLeftLogo > button {
    justify-content: center;
    display: flex;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    background-color: transparent;
    /* border: 1px solid black; */
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.cardLeftLogo > button:hover {
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.cardLeftLogo > button > .MuiSvgIcon-root {
    font-size: 15px;
    padding-right: 5px;
}



.cardRight {
    /* height: 65vh; */
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    /* background-color: rgb(143, 182, 216); */
    direction: rtl;
}

.cardRightDetail {
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* background-image: linear-gradient( #868f96 ,#596164 ); */
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.3),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    margin-right: -100px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    
    width: 500px;

    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.2);
    z-index: 4;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.cardRightDetail > p {
    /* white-space: pre-line; */
    font-size: 17px;
    font-family: 'Crimson Text', serif;
    /* letter-spacing: 1px; */
}

.cardRightHeading {
    /* background-color: blue; */
    padding-bottom: 32px;
    padding-top: 20px;
    text-align: left;
}

.cardRightHeading > p {
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Crimson Text', serif;
    color: rgb(65, 65, 65);
}

.cardRightHeading > h3 {
    font-family: 'PT Serif', serif;
    font-size: 22px;
}

.cardRightLang {
    display: flex;
    /* background-color: white; */
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cardRightLang > p {
    padding-right: 25px;
    letter-spacing: 1px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    color: rgb(65, 65, 65);
}

.cardRightLogo {
    display: flex;
    /* background-color: pink; */
    justify-content: flex-end;
    padding-bottom: 20px;
}

.cardRightLogo > button {
    justify-content: center;
    display: flex;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    background-color: transparent;
    /* border: 1px solid black; */
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.cardRightLogo > button:hover {
    color: white;
    background-color: black;
    transition: all 0.5s;
}

.cardRightLogo > button > .MuiSvgIcon-root {
    font-size: 15px;
    padding-left: 5px;
}

/* .cardLogoDiv1 {
    display: flex;
    border: 1px solid black;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    cursor: pointer;
}

.cardLogoDiv1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    background-position: left;
} */

/* .cardLogoDiv2 {
    display: flex;
    border: 1px solid black;
    padding: 5px;
} */

.gitLogo {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.gitLogo:hover {
    transform: scale(1.1);
}

.linkLogo {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.linkLogo:hover {
    transform: scale(1.1);
}

/* .gitText {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.gitText:hover {
    color: white;
}

.linkText {
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.linkText:hover {
    color: white;
} */

/* .span {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.span:hover {
    visibility: visible;
} */

@media (max-width: 1200px) {  
    .cardLeftDetail {
        margin-left: -450px;
    }
    .cardRightDetail {
        margin-right: -450px;
    }
    .cardLeftHeading {
        text-align: center;
    }
    .cardLeftLang {
        justify-content: center;
        margin-left: -100px;
    }
    .cardLeftLang > p {
        padding-left: 20px;
        color: black;
    }
    .cardRightHeading {
        text-align: center;
    }
    .cardRightLang {
        justify-content: center;
        margin-right: -100px;
    }
    .cardRightLang > p {
        padding-right: 20px;
        color: black;
    }

}

@media (max-width: 767px) {
    .projectCard__image {
        height: 250px;
        width: 350px;
    }
    
    .projectCard__image > img {
        height: 250px;
        width: 350px;
    }

    .projectCard__content {
        flex-direction: column;
    }
    .cardLeftDetail {
        margin-left: 15px;
        width: 280px;
        margin-top: 0.5rem;
    }
    .cardRightDetail{
        margin-right: 15px;
        width: 280px;
    }

    .cardLeftHeading {
        text-align: center;
        margin-top: -2rem;
    }

    .cardRightHeading {
        text-align: center;
        margin-top: -2rem;
    }

    .cardLeftLang {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 2rem;

    }

    .cardRightLang {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-top: 2rem;
    }

    .cardLeftLogo {
        justify-content: center;
    }

    .cardRightLogo {
        justify-content: center;
    }

    .projectCard__details {
        margin-top: -310px;
    }
    .cardLeft {
        padding-bottom: 150px;
    }
    .cardRight {
        padding-bottom: 150px;
    }

}

@media (max-width: 400px) {
    .projectCard__image {
        height: 250px;
        width: 350px;
    }
    
    .projectCard__image > img {
        height: 250px;
        width: 350px;
    }
}
