@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Marck+Script&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.skillCardRight {
    /* background-color: rgba(245, 245, 245, 0.6); */
    display: flex;
    /* height: 60vh; */
    margin-top: 50px;
    /* padding-bottom: 20px; */
    /* padding: 5px; */
    border-radius: 10px;
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* border: 1px solid lightgray; */
    

    background: url("/src/images/projects2.png") center;

    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: inset 4px 4px 6px rgba(255,255,255,0.2) ,
    inset -4px -4px 10px rgba(0,0,0,0.1),
    6px 6px 8px #b5c2c2,
    -1px -1px 7px rgba(175, 177, 180, 0.220);

    /* box-shadow: inset 4px 4px 6px rgba(191, 193, 194, 0.2) ,
    inset -4px -4px 10px rgba(0, 0, 0, 0.068),
    6px 6px 8px #d1d4d4,
    -1px -1px 7px rgba(97, 98, 102, 0.1); */

    /* background: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.2);
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
}

.skillCardLeft {
    /* background-color: rgba(245, 245, 245, 0.6); */
    display: flex;
    /* height: 60vh; */
    /* padding-bottom: 20px; */
    /* padding: 5px; */
    margin-top: 50px;
    border-radius: 10px;
    direction: rtl;
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* border: 1px solid black; */

    background: url("/src/images/projects2.png") center;

    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3); */
    /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.1),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.3); */

    box-shadow: inset 4px 4px 6px rgba(255,255,255,0.2) ,
                inset -4px -4px 10px rgba(0,0,0,0.1),
                6px 6px 8px #b5c2c2,
                -1px -1px 7px rgba(175, 177, 180, 0.220);

    /* background: rgba(255,255,255,0.4); */
    /* border: 1px solid rgba(255,255,255,0.2); */
    /* z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
}

.skillCard__left {
    display: flex;
    flex: 0.7;
    border-radius: 10px;

    border-top-left-radius: 10x;
    border-bottom-left-radius: 10x;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;

    /* background: url("/src/images/projects2.png") center; */

    /* background-color: lightblue; */
    /* background-image: linear-gradient(#cfd9df , #e2ebf0); */
    /* background: rgba(255,255,255,0); */
    /* border: 1px solid rgba(255,255,255,0.2); */
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.skillsLogoRight {
    height: 35px;
    width: 35px;
    float: right;
    margin-top: -5px;
    /* margin-bottom: -15px; */
}

.skillsLogoLeft {
    height: 35px;
    width: 35px;
    float: left;
    margin-top: -5px;
    /* margin-bottom: -15px; */
}

.cardDetailsRight {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.cardDetailsRight > h3 {
    margin-bottom: 35px;
    /* background-color: aliceblue; */
    color: black;
}

.cardDetailsLeft {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.cardDetailsLeft > h3 {
    margin-bottom: 35px;
    /* background-color: aliceblue; */
    color: black;
}


.left {
    /* background-color: #FF6161; */
    /* background-color: aliceblue; */
    text-align: center;
}

.left > h1 {
    margin-top: 100px;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    /* color: rgb(66, 65, 65); */
}

.left > h2 {
    margin-top: 20px;
    /* font-family: 'Ephesis', cursive; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* letter-spacing: 0px; */
    font-family: 'Marck Script', cursive;
    color: rgb(94, 94, 94);
    font-size: 23px;
}

.left > p {
    /* background-color: aqua; */
    margin: 20px 80px 0px 80px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}



.rightCard {
    /* margin-right: -120px; */
    margin-top: 35px; 
}

.leftCard {
    /* margin-left: -120px; */
    margin-top: 35px;
}


.skillCard__right {
    flex: 0.3;
    /* background-image: linear-gradient(#e2ebf0, #cfd9df); */
    /* background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80") center no-repeat; */
    border-radius: 10px;

    border-bottom-right-radius: 10x;
    border-top-right-radius: 10x;

    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;

    /* background: url("/src/images/projects2.png") center; */

    /* background: rgba(255,255,255,0); */
    /* border: 1px solid rgba(255,255,255,0.2); */
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.skillCard__right > img {
    height: 416px;
    width: 400px;
}

.card__details > h3 {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .skillCardRight{
        flex-direction: column; 
        /* height: 40vh; */
    }
    .skillCardLeft {
        flex-direction: column;
        /* height: 40vh; */
    }
    .skillCard__right {
        /* flex-direction: column; */
        display: none;
    }
    .card {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
    }

}

@media (max-width: 767px) {
    .skillCardRight{
        flex-direction: column; 
        /* height: 72vh; */
        background: url("/src/images/projects2.png");
    }
    .skillCardLeft {
        flex-direction: column;
        /* height: 72vh; */
        background: url("/src/images/projects2.png");
    }
    .skillCard__left {
        flex-direction: column;
    }
    .left > h1 {
        margin-top: 20px;
    }
    .left > p {
        margin: 20px 10px 0px 10px;
        font-size: 18px;
    }
    .card {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 400px) {
    .card {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
}