@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.workCard {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* background-image: linear-gradient(#cfd9df); */
    border-radius: 10px;
}

.workCard > a > img {
    height: 200px;
    width: 350px;
    border-radius: 5px;
}

.workCard > p {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'PT Serif', serif;
    color: rgb(66, 65, 65);
    font-weight: 600;
}

@media (max-width: 1200px) {
    .workCard {
        margin-bottom: 20px;
        background-color: transparent;
    }
}

/* @media (max-width: 767px) {
    .workCard {
        margin-bottom: 20px;
    }
} */

@media (max-width: 400px) {
    /* .workCard {
        margin-bottom: 20px;
    } */
    .workCard > a > img {
        height: 180px;
        width: 300px;
        border-radius: 5px;
    }
}